/* Substituições de core.css */

img[loading] {
  z-index: auto; 
}

form[role=search] {
  display: flex;
  flex: 100%;
}

.br-breadcrumb .crumb-list .crumb:not(:last-child) span {
    font-size: var(--font-size-scale-down-01);
    font-weight: var(--font-weight-medium);
    padding: 0 0 0 var(--spacing-scale-base);
    padding: 0 6px;
}

.br-breadcrumb .crumb-list .crumb.home a:not(:disabled):active {
  background-image: none;
}

.br-footer .assigns a:not(:disabled):hover {
  background-image: none;
}

.br-footer .assigns a:not(:disabled):active {
  background-image: none;
}

.br-footer .assigns img:not(:disabled):hover {
  background-image: linear-gradient(rgba(var(--interactive-rgb), var(--hover)), rgba(var(--interactive-rgb), var(--hover)));
}

.br-footer .assigns img:not(:disabled):active {
  background-image: linear-gradient(rgba(var(--interactive-rgb), var(--pressed)), rgba(var(--interactive-rgb), var(--pressed)));
}

.br-pagination a {
    text-decoration: none;
}

div.com-tags-tag .page-header,
div.com-content-article .page-header {
    margin: 6px 0 4px;
    font-weight: 700;
    font-size: 16px;
    color: #555;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
}

div.com-tags-tag h2[itemprop='name'],
div.com-content-category-blog h2[itemprop='name'] {
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 12px;
    padding: 0;
}

div.com-tags-tag h2[itemprop='name'] a,
div.com-content-category-blog h2[itemprop='name'] a {
    color: #0c326f;
    text-decoration: none;
    margin-bottom: 12px;
}

div.com-content-category-blog [itemprop='headline'],
div.com-content-article [itemprop='headline'] {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: #0c326f;
    padding-bottom: 10px;
    margin: 0
}

div.com-content-category-blog [itemprop='description'],
div.com-content-article [itemprop='description'] {
    font-weight: 400;
    font-size: 18px;
    color: #555;
    line-height: normal;
    margin-bottom: 16px;
    margin: 0;
    padding-bottom: 8px
}

@media only screen and (max-width: 575px) {
    div.com-content-article [itemprop='headline'] {
        font-size: 24px
    }
}

div.menu-logos img {
    width: 103px;
    height: 50px;
    object-fit: contain;
}

div.com-content-article div[itemprop='articleBody'] {
    padding-top: 32px;
}

div.com-content-article figure {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 32px;
}

div.com-content-article figure figcaption {
    color: #555;
    font-size: 0.88rem;
    font-weight: normal;
    max-width: 960px;
    margin: 5px auto
}

div.com-content-article figure img {
    height: auto;
    max-width: 100%
}

div.com-tags__items,
div.com-content-category-blog__items {
    padding-top: 32px;
}

div.com-tags-tag__category,
div.com-content-category-blog__item {
    padding-bottom: 16px;
    margin-bottom: 36px;
}

div.com-content-category-blog__item img.itemImage {
    float: right;
    margin: 0 1em 0.5em 1em;
    width: 128px;
    height: 85px;
    object-fit: contain;
}

div.com-tags-tag__category .info,
div.com-content-category-blog__item .info {
    font-weight: 400;
    font-size: 16px;
    color: #555;
    line-height: normal;
}

div.com-content-category-blog div.tags {
    margin-bottom: 12px;
}

div.latestnews a {
    text-decoration: none;
    color: #0c326f;
}

div h2.latestnews-title {
    font-weight: 600;
    font-size: 20px;
    color: #0c326f;
    line-height: 28px;
    margin: 0 0 8px 0;
    padding: 0;
}

div #ouvidoria-acessoinformacao-header h1 {
    color: #0c326f;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 24px;
}

div #ouvidoria-acessoinformacao-header h2 {
    line-height: 32px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 24px;
    padding-bottom: 0px;
}

div #ouvidoria-acessoinformacao-cards div.card-content span
{
    text-transform: uppercase;
}

.br-card div.card-content {
    min-height: 230px;
    color: #0c326f;
}

.br-card div.card-content i {
    display: block;
    --icon-size: var(--icon-size-3x);
    margin-bottom: 30px;
}

.br-card div.card-content img {
    object-fit: contain;
}

.br-card div.card-content span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.br-card a {
    text-decoration: none;
}

.br-card a:not(:disabled):hover {
    background-image: none;
}

footer div.social-network i {
    --icon-size: var(--icon-size-2x);
}

div.tags span {
    font-weight: 600;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

div.tags span a.tags-link {
    padding: 0 8px;
    margin: 0 0 25px;
}

div.com-content-article .cabecalho-linha .outstanding-title
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 36px;
    color: #333;
    font-size: 16px !important;
    font-weight: bold;
    margin: 0 !important;
    white-space: nowrap;
}

div.com-content-article .cabecalho-linha .outstanding-title::before,
div.com-content-article .cabecalho-linha .outstanding-title::after
{
    background: #ccc;
    content: '';
    height: 1px;
    width: 100%;
}

div.com-content-article .cabecalho-linha .outstanding-title::before
{
    margin-right: 12px;
}

div.com-content-article .cabecalho-linha .outstanding-title::after
{
    margin-left: 12px;
}

/* Modo Alto Contraste */

.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast i,
.contrast b,
.contrast u,
.contrast span {
    color: white !important;
}

.contrast a {
    color: yellow !important;
}

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: none !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

.contrast input[type=text],
.contrast input[type=text]::placeholder,
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
}

.contrast .br-cookiebar .br-button {
    border: 1px solid #fff !important;
}

.contrast a.br-item,
.contrast a.menu-item {
    background-color: transparent;
}

.contrast div.br-card {
    border: 1px solid #fff;
}
