/* Substituições de core.css */

img[loading] {
    pointer-events: auto;
    z-index: auto; 
}

form[role=search] {
  display: flex;
  flex: 100%;
}

.br-breadcrumb .crumb-list .crumb:not(:last-child) span {
    font-size: var(--font-size-scale-down-01);
    font-weight: var(--font-weight-medium);
    padding: 0 0 0 var(--spacing-scale-base);
    padding: 0 6px;
}

.br-breadcrumb .crumb-list .crumb.home a:not(:disabled):active {
  background-image: none;
}

.br-footer .assigns a:not(:disabled):hover {
  background-image: none;
}

.br-footer .assigns a:not(:disabled):active {
  background-image: none;
}

.br-footer .assigns img:not(:disabled):hover {
  background-image: linear-gradient(rgba(var(--interactive-rgb), var(--hover)), rgba(var(--interactive-rgb), var(--hover)));
}

.br-footer .assigns img:not(:disabled):active {
  background-image: linear-gradient(rgba(var(--interactive-rgb), var(--pressed)), rgba(var(--interactive-rgb), var(--pressed)));
}

.br-pagination a {
    text-decoration: none;
}

div.com-tags-tag .page-header,
div.com-content-article .page-header {
    margin: 6px 0 4px;
    font-weight: 700;
    font-size: 16px;
    color: #555;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
}

div.com-tags-tag h2[itemprop='name'],
div.com-content-category-blog h2[itemprop='name'] {
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 12px;
    padding: 0;
}

div.com-tags-tag h2[itemprop='name'] a,
div.com-content-category-blog h2[itemprop='name'] a {
    color: #0c326f;
    text-decoration: none;
    margin-bottom: 12px;
}

div.com-content-category-blog [itemprop='headline'],
div.com-content-article [itemprop='headline'] {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: #0c326f;
    padding-bottom: 10px;
    margin: 0
}

div.com-content-category-blog [itemprop='description'],
div.com-content-article [itemprop='description'] {
    font-weight: 400;
    font-size: 18px;
    color: #555;
    line-height: normal;
    margin-bottom: 16px;
    margin: 0;
    padding-bottom: 8px
}

@media only screen and (max-width: 575px) {
    div.com-content-article [itemprop='headline'] {
        font-size: 24px
    }
}

div.menu-logos img {
    width: 103px;
    height: 50px;
    object-fit: contain;
}

div.com-content-article div[itemprop='articleBody'] {
    padding-top: 32px;
}

div.com-content-article figure {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 32px;
}

div.com-content-article figure figcaption {
    color: #555;
    font-size: 0.88rem;
    font-weight: normal;
    max-width: 960px;
    margin: 5px auto
}

div.com-content-article figure img {
    height: auto;
    max-width: 100%
}

div.com-tags__items,
div.com-content-category-blog__items {
    padding-top: 32px;
}

div.com-tags-tag__category,
div.com-content-category-blog__item {
    padding-bottom: 16px;
    margin-bottom: 36px;
}

div.com-content-category-blog__item img.itemImage {
    float: right;
    margin: 0 1em 0.5em 1em;
    width: 128px;
    height: 85px;
    object-fit: contain;
}

div.com-tags-tag__category .info,
div.com-content-category-blog__item .info {
    font-weight: 400;
    font-size: 16px;
    color: #555;
    line-height: normal;
}

div.com-content-category-blog div.tags {
    margin-bottom: 12px;
}

ul.com-finder__results-list {
    padding-left: 0;
    list-style-type: none;
}

ul.com-finder__results-list li.result__item {
    list-style: none;
    color: #333;
    margin: 0 0 20px;
    display: block;
    padding-bottom: 12px;
}

ul.com-finder__results-list li.result__item span.result__title {
    display: block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #1351b4;
}

ul.com-finder__results-list li.result__item span.result__title a {
    text-decoration: none;
}

ul.com-finder__results-list li.result__item span.result__description {
    color: #333;
    font-size: 16px;
}

ul.com-finder__results-list li.result__item span.result__description span.date {
    font-weight: 400;
    color: #555;
}

div.latestnews-item {
    padding-bottom: 20px;
}

div.newsflash-item {
    padding-bottom: 24px;
}

div.newsflash-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 100%);
    position: relative;
}

div.newsflash-container a {
    text-align: center;
}

div.newsflash-container img {
    object-fit: cover;
    z-index: -2;
    position: relative;
}

div.newsflash a:not(:disabled):hover {
    background-image: none;
}

div h2.newsflash-title,
div h2.latestnews-title {
    font-weight: 600;
    font-size: 20px;
    color: #0c326f;
    line-height: 28px;
    margin: 0 0 8px 0;
    padding: 0;
}

div h2.newsflash-title {
    position: absolute;
    padding: 0 16px 16px;
}

div h2.newsflash-title a {
    text-decoration: none;
    color: #fff;
    padding: 0;
}

div.latestnews a {
    text-decoration: none;
    color: #0c326f;
}

div #ouvidoria-acessoinformacao-header h1 {
    color: #0c326f;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 24px;
}

div #ouvidoria-acessoinformacao-header h2 {
    line-height: 32px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 24px;
    padding-bottom: 0px;
}

div #ouvidoria-acessoinformacao-cards div.card-content span
{
    text-transform: uppercase;
}

@media only screen and (max-width: 575px) {
  div #ouvidoria-acessoinformacao-header h1 {
    font-size: 24px;
  }
}

.br-card div.card-content {
    min-height: 230px;
    color: #0c326f;
}

.br-card div.card-content i {
    display: block;
    --icon-size: var(--icon-size-3x);
    margin-bottom: 30px;
}

.br-card div.card-content img {
    object-fit: contain;
}

.br-card div.card-content span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.br-card a {
    text-decoration: none;
}

.br-card a:not(:disabled):hover {
    background-image: none;
}

footer div.social-network i {
    --icon-size: var(--icon-size-2x);
}

div.tags span {
    font-weight: 600;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

div.tags span a.tags-link {
    padding: 0 8px;
    margin: 0 0 25px;
}

div.com-content-article .cabecalho-linha .outstanding-title
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 36px;
    color: #333;
    font-size: 16px !important;
    font-weight: bold;
    margin: 0 !important;
    white-space: nowrap;
}

div.com-content-article .cabecalho-linha .outstanding-title::before,
div.com-content-article .cabecalho-linha .outstanding-title::after
{
    background: #ccc;
    content: '';
    height: 1px;
    width: 100%;
}

div.com-content-article .cabecalho-linha .outstanding-title::before
{
    margin-right: 12px;
}

div.com-content-article .cabecalho-linha .outstanding-title::after
{
    margin-left: 12px;
}

/* Modo Alto Contraste */

.contrast,
.contrast nav,
.contrast div,
.contrast li,
.contrast ol,
.contrast header,
.contrast footer,
.contrast section,
.contrast main,
.contrast aside,
.contrast article {
    background: black !important;
    color: white !important;
}

.contrast h1,
.contrast h2,
.contrast h3,
.contrast h4,
.contrast h5,
.contrast h6,
.contrast p,
.contrast label,
.contrast strong,
.contrast em,
.contrast cite,
.contrast q,
.contrast b,
.contrast u,
.contrast span {
    color: white !important;
}

.contrast i {
    color: yellow !important;
}

.contrast a {
    color: yellow !important;
}

.contrast .header-links a {
    color: yellow !important;
}

.contrast .header-links a.br-item:not(:disabled):hover {
    color: yellow !important;
}

.contrast button,
.contrast input[type=button],
.contrast input[type=reset],
.contrast input[type=submit] {
    background: black !important;
    color: yellow !important;
    border: none !important;
}

.contrast img.on-contrast-force-gray {
    filter: grayscale(100%) contrast(120%);
}

.contrast img.on-contrast-force-white {
    filter: brightness(0) invert(1);
}

.contrast input[type=text],
.contrast input[type=text]::placeholder,
.contrast input[type=password],
.contrast input[type=url],
.contrast input[type=search],
.contrast input[type=email],
.contrast input[type=tel],
.contrast input[type=date],
.contrast input[type=month],
.contrast input[type=week],
.contrast input[type=datetime],
.contrast input[type=datetime-local],
.contrast textarea,
.contrast input[type=number] {
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
}

.contrast .br-cookiebar .br-button {
    border: 1px solid #fff !important;
    background-color: black;
}

.contrast .header-info a * {
    color: yellow !important;
  }

.contrast a.br-item,
.contrast a.menu-item {
    background-color: transparent;
}

.contrast .br-menu .side-menu.active > .menu-item,
.contrast .br-menu .menu-body .drop-menu.active > .menu-item:not(:hover) {
    background-color: black !important;
}

.contrast .br-menu a.menu-item:not(:disabled):not(:disabled) * {
    color: yellow !important;
}

.contrast .menu-links a *,
.contrast div.social-network i {
    color: yellow !important;
}

.contrast .br-footer .br-item * {
    background: var(--hover-dark) !important;
}

.contrast .br-footer .br-list.horizontal .br-item * {
    color: yellow !important;
  }

.contrast div.br-card {
    border: 1px solid #fff;
}

.contrast div.br-card i,
.contrast div.br-card span {
    color: yellow !important;
}

/* Ajusta os backgrounds das logos de Acesso à Informação e Brasil do Footer */

.br-footer .assigns img:not(:disabled):hover {
    background-image: none;
}

.br-footer .assigns img:not(:disabled):active {
    background-image: none;
}

/* Cor e hover do Título no Header*/

.header-title a {
    color: currentcolor;
    text-decoration: none;
}

.header-title a:hover {
    color: var(--interactive);
    text-decoration: none;
}

.header-title a:not(:disabled):hover {
    background-image: none;
}

/* Ajuste de posição do dropdown das br-list para smarthphone no br-header*/

.br-header .header-actions .header-functions .br-list, .br-header .header-actions .header-links .br-list {
    left: auto;
    right: 0;
}

/*Ajusta font-weight, hover e link do copyright na info e no menu-info*/

.info a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.info a:not(:disabled):hover {
    background-image: none;
    color: #5992ed;
}

.info .text-medium {
    font-weight: 400!important;
}

.info .text-down-01 {
    font-size: 13px!important;
    color: #ccc;
}

.menu-info a {
    color: var(--interactive);
    text-decoration: none;
    font-weight: 700;
}

.menu-info a:not(:disabled):hover {
    background-image: none;
    color: #5992ed;
}

/* Ajusta o hover do header-logo, caso se queira link na logo */

.header-logo a:not(:disabled):hover {
    background-image: none;
}

/* Ajusta tamanho da fas fa-bars do menu */

@media only screen and (min-width: 769px){
  	.header-menu-trigger .fas {
    	--icon-size: 24px;
  }
}

@media only screen and (min-width:577px) and (max-width:768px){
  	.header-menu-trigger .fas {
    	--icon-size: 20px;
  }
}

@media only screen and (max-width:576px) {
  	.header-menu-trigger .fas {
    	--icon-size: 16px;
  }
}

/* Altera o weight e hover dos itens do header-links */

.header-links a.br-item {
    font-weight: 500;
    color: var(--interactive);
}

.header-links a.br-item:not(:disabled):hover {
    background-image: none;
    color: #0c326f!important;
}

/* Back to top */

html {
    scroll-behavior: smooth;
  }

.backtotop {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    bottom: 57px;
    right: 8px;
    height: 40px;
    width: 40px;
    background: #1351b4;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.backtotop span {
    font-size: 16px;
    width: auto;
}

.backtotop.active {
    opacity: 1;
    visibility: visible;
    animation-direction: normal;
    animation-name: bounceIn
  }

.backtotop:hover {
    background: #dbe8fb;
    text-decoration: none;
    color: #1351b4;
}

.backtotop:focus {
    outline-color: #c2850c;
    outline-style: dashed;
    outline-offset: 4px;
    outline-width: 2px;
}

.backtotop:focus:not(.focus-visible) {
    outline: none;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3) translate3d(0, 0, 0)
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1)
    }

    80% {
        opacity: 1;
        transform: scale(0.89)
    }

    100% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0)
    }
}
